// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Neutrální resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1250)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SEQUENCEBOX DIALOGEX 25, 40, 235, 250
STYLE DS_SETFONT | WS_POPUP | WS_MINIMIZE | WS_VISIBLE | WS_CAPTION
EXSTYLE 0x8000L
CAPTION "Sequence"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
	DEFPUSHBUTTON   "&Reload", IDGET, 10, 5, 39, 14
	PUSHBUTTON      "&Clear", ID_CLEAR, 57, 5, 39, 14
	PUSHBUTTON      "&Copy Selected", ID_SETSELECTED, 105, 5, 60, 14
    PUSHBUTTON      "&|>",IDRUNALL,10,25,15,14
    PUSHBUTTON      "&|>||",IDRUNFIRST,28,25,15,14
	PUSHBUTTON      "&X", ID_SHOWALL, 46, 25, 14, 14
	PUSHBUTTON      "&>||",IDRUNNEXT,63,25,15,14
    PUSHBUTTON      "&>>",IDRUNREST,81,25,15,14
	PUSHBUTTON      "&Set Edited", IDSET, 105, 25, 60, 14, WS_DISABLED
	CONTROL         "Edit sequence", ID_CHECKEDIT, "Button", BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP, 105, 45, 60, 10
	LTEXT           "Sequence:", ID_SEQUENCE_LABEL, 10, 45, 40, 10
	EDITTEXT        ID_SEQUENCE_EDIT, 10, 57, 215, 180, ES_MULTILINE | ES_AUTOVSCROLL | ES_NOHIDESEL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SEQUENCEBOX, DIALOG
    BEGIN
        BOTTOMMARGIN, 245
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_SEQUENCEBOX AFX_DIALOG_LAYOUT
BEGIN
    0,
    0, 0, 0, 0,
    0, 0, 100, 100,
    0, 0, 0, 0,
    0, 0, 0, 0,
    0, 0, 0, 0
END

#endif    // Neutrální resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

